/* removeing outline from buttons */
.panel-header button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

/* adding pointer class */
.pointer {
  cursor: pointer;
}

/* some styling for pagination*/
.paginationBttns {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #093f65;
  color: #093f65;
}

.paginationBttns a:hover{
    background: #093f65;
    color: #fff !important; 
}

.paginationActive a{
    background: #093f65;
    color: #fff !important;
}